body {
    font-family: 'Courier New', Courier, monospace;
    background-color: powderblue;
}
#menu-icon {
    height: 45px;
    width: 45px;
}
#profile-pic {
    height: 45px;
    border-radius: 50%;
}
#logo-pic {
    height:100px;
}